@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Raleway&display=swap');

/* GENERAL */

.flex {
  display: flex;
}

.jc-center {
  justify-content: center;
}

.ai-center {
  align-items: center;
}

.jc-space-between {
  justify-content: space-between;
}

.debug {
  border: 1px solid red;
}

.px-2 {
  padding-left: 1rem;
  padding-right: 1rem;
}

.py-1 {
  padding-top: .5rem;
  padding-bottom: .5rem;
}

.p-2 {
  padding: 1rem;
}

.bg-black {
  background: black;
  color: white;
}

/* HEADER */

header {
  display: grid;
  grid-template-columns: 106px 1fr;
}

header .logo {
  grid-row: 1 / span 2;
  display: flex;
  justify-content: center;
  align-items: center;
  background: black;
  color: white;
}

header .logo img {
  width: 66px;
  height: 16px;
}

header ul {
  margin: 0;
  padding-left: 0;
  list-style-type: none;
}

header ul li {
  display: inline;
  margin: 0 .5em;
}

.top-nav {
  font-size: 13px;
  font-family: 'Open Sans', sans-serif;
  color: hsla(0, 0%, 100%, .6);
}

.bot-nav {
  font-size: 14px;
  text-transform: uppercase;
  font-family: 'Raleway', sans-serif;
  color: #AAA;
}

.active {
  color: white;
}

header a {
  text-decoration: none;
  color: inherit;
}

/* HEADLINES */

.headlines {
  height: 700px;
  display: grid;
  grid-template-columns: 5fr 3fr;
  grid-template-areas: "main aside1"
                       "main aside2";
  grid-gap: 10px;
}

.headlines .main {
  grid-area: main;
}

.headlines * {
  border: 1px solid red;
}

/* MOBILE */

@media screen and (max-width: 768px) {
  .sm-hide {
    display: none !important;
  }

  .jc-flex-end-sm {
    justify-content: flex-end !important;
  }

  .headlines {
    grid-template-columns: 1fr;
    grid-template-areas:
      "main"
      "aside1"
      "aside2";
  }
}

/* DESKTOP */

@media screen and (min-width: 1024px) {
  .lg-hide {
    display: none !important;
  }

  header {
    grid-template-columns: 1fr;
  }
}

/* NOT DESKTOP */

@media screen and (max-width: 1024px) {
  .lg-only {
    display: none;
  }
}

